@media screen and (max-width: 650px) {
  #github_widget {
    display: none;
  }
}
#blog_logo:hover {
  text-decoration: underline;
  text-decoration-color: #2d96bd;
}
.video-container iframe {
  width: 90%;
  height: 350px;
}
