@media screen and (max-width: 650px) {
  #github_widget {
    display: none;
  }
}
#blog_logo:hover {
  text-decoration: underline;
  text-decoration-color: #2d96bd;
}
.video-container iframe {
  width: 90%;
  height: 350px;
}
.post-content code {
  font-size: 14px;
}
.menu-ico {
  width: 27px;
  height: 27px;
}
.left-menu {
  color: #333;
  font-size: 13px;
  font-weight: 600;
  margin-left: 3px;
}
#mynav-container {
  padding-top: 8px;
}
.logo-ico {
  padding-top: 14px;
}
